root = true

[*]
charset = utf-8
end_of_line = lf

[*.java]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4
tab_width = 4
max_line_length = 120
ij_java_align_multiline_chained_methods = false
ij_java_method_call_chain_wrap = on_every_item
ij_java_prefer_parameters_wrap = false